// Primary Neutral Palette //

$primary-900: #0a196f;
$primary-800: #102587;
$primary-700: #1a37a7;
$primary-600: #264bc8;
$primary-500: #3563e9;
$primary-400: #658DF1;
$primary-300: #85A8F8;
$primary-200: #AEC8FC;
$primary-100: #D6E4FD;
$primary-0: #FFFFFF;

// Success //

$primary-900: #3B6506; 
$primary-800: #4C7A0B;
$primary-700: #659711;
$primary-600: #7FB519;
$primary-500: #9CD323;
$primary-400: #BCE455;
$primary-300: #D3F178;
$primary-200: #E8FAA6;
$primary-100: #F5FCD2;

// Error //

$primary-900: #7A0619;
$primary-800: #930B16;
$primary-700: #B71112;
$primary-600: #DB2719;
$primary-500: #FF4423;
$primary-400: #FF7F59;
$primary-300: #FFA37A;
$primary-200: #FFC8A6;
$primary-100: #FFE7D3;

// Warning //

$primary-900: #7A4D0B;
$primary-800: #936312;
$primary-700: #B7821D;
$primary-600: #DBA32A;
$primary-500: #FFC73A;
$primary-400: #FFD96B;
$primary-300: #FFE488;
$primary-200: #FFEFB0;
$primary-100: #FFF8D7;

// Information //

$primary-900: #102E7A;
$primary-800: #1A4393;
$primary-700: #2A60B7;
$primary-600: #3D81DB;
$primary-500: #54A6FF;
$primary-400: #7EC2FF;
$primary-300: #98D3FF;
$primary-200: #BAE5FF;
$primary-100: #DCF3FF;

// Secodinary //

$primary-900: #040815;
$primary-800: #080C19;
$primary-700: #0D121F;
$primary-600: #131825;
$primary-500: #1A202C;
$primary-400: #596780;
$primary-300: #90A3BF;
$primary-200: #C3D4E9;
$primary-100: #E0E9F4;