.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 32px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    color: red;
}

.search {
    padding: 10px 20px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 65px;
    display: flex;
    align-items: center;
}

.icon {
    border: none;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 0px;
}

.profile-logo {
    height: 33px;
    width: 44px;
    border-radius: 40px;
}

.input {
    border: none;
}

.action {
    display: flex;
}

.action-main {
    padding: 10px 10px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 50%;
    width: 23px;
    height: 23px;
}

.logo {
    text-decoration: none;
    font-size: 50px;
    color: $primary-500;
}